<!DOCTYPE html>
<html class='use-all-space'>
<head>
    <title>My Map</title>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <!-- Replace version in the URL with desired library version -->
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.12.0/maps/maps.css'/>
    <style>
       #map {
           width: 100px;
           height: 100px;
       }
    </style>
</head>
<body>
    <h1>My Map</h1>
    <hr/>
    <h2>Input Node & Edge</h2>
    <h3>Input with file (.txt):</h3>
    <h3>Input with map:</h3>
    <div id='map' class='map'></div>
    
    <!-- scripts -->
    <!-- Replace version in the URL with desired library version -->
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.12.0/maps/maps-web.min.js'></script>
    <script>
      tt.setProductInfo('interactiveMap', '1.0');
      tt.map({
          key: 'o1geElO01tAzH56UIRG60l0g6cmtDWjz',
          container: 'map'
      });
    </script>
</body>
</html>